
.idea/encodings.xml

.idea/misc.xml

.DS_Store

.idea/.name

.idea/modules.xml

.idea/other.xml

.idea/olfactory.iml

.idea/scopes/scope_settings.xml

.idea/testrunner.xml

.idea/vcs.xml

.idea/workspace.xml

*.pyc

*.ipynb

figures/

gurobi.log

/results/

/app/results/